body {
    background-color: #1b2838;
    font-family: 'Arial, sans-serif';
    color: #c7d5e0;
}

h1,
h2 {
    margin-left: 20px;
    text-align: left;
}

h1 {
    color: #00adee;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

h2 {
    color: #8d8d8d;
    font-size: 1.2em;
    margin-bottom: 1em;
    font-weight: normal;
}

label {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#imageUpload {
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #66c0f4;
    border-radius: 5px;
    font-size: 16px;
}

.preview-window {
    width: 300px;
    height: 450px;
    background-color: #2a475e;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.preview-border {
    border: 2px solid #66c0f4;
}

.button-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.button-container button {
    background-color: #171a21;
    border: 1px solid #66c0f4;
    border-radius: 4px;
    padding: 10px 20px;
    color: #c7d5e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #1b2838;
}

#downloadButton {
    color: #D2E885;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background-color: #536904;
    border: 2px solid #D2E885;
}

#downloadButton:hover {
    color: #536904;
    background-color: #D2E885;
    border: 2px solid #536904;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #171a21;
    color: #c1c1c1;
    align-items: left;
    padding: 20px;
    padding-left: 0px;
    padding-top: 15px;
    font-family: 'Arial', sans-serif;
}

.toggle-container,
.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-container {
    width: 80%;
}

.menu-item {
    flex-direction: row;
    background-color: #1b2838;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    border-radius: 2px;
    margin-bottom: 2px;
    gap: 5px;
    font-size: 14px;
}

.menu-item label {
    display: flex;
    width: 100%;
}

.menu-item label div.switch {
    margin-left: auto;
}

.menu-item .input-container {
    padding: 0;
    background-color: transparent;
    margin: 0;
}

.menu-item .input-container label,
.menu-item .input-container input {
    margin: 5px 0;
}

.input-container {
    display: block !important;
    align-items: flex-start;
    margin-top: 20px;
}

.input-container label {
    margin-bottom: 5px;
    color: #c7d5e0;
    font-size: 14px;
}

.input-container input {
    padding: 5px;
    border: 2px solid #66c0f4;
    border-radius: 4px;
    background-color: #1b2838;
    color: #c7d5e0;
    width: 95%;
    font-size: 14px;
}

.input-container input:disabled {
    opacity: 0.5;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    margin-left: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #626567;
    transition: .2s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #D2E885;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #536904;
}

input:checked+.slider:before {
    transform: translateX(25px);
}

.top-bar {
    visibility: hidden;
    z-index: 69;
}

.created-by {
    position: absolute;
    bottom: 10%;
    width: 90%;
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

.created-by a {
    color: #1da1f2;
    text-decoration: none;
}

.created-by a:hover {
    text-decoration: underline;
}

.sidebar-right .menu-item {
    width: 100%;
    margin-left: -10px;
    display: none;
}

.sidebar-right .menu-item .text {
    margin-left: 15px;
}

.sidebar-right .menu-item label {
    display: flex;
    justify-content: unset;
}

.sidebar-right label div.switch {
    margin-left: 0px;
}

.sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #171a21;
    color: #c1c1c1;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    display: block;
}

.btn-toggle {
    background: none;
    border: none;
    font-size: 22px;
    color: #FFF; 
    align-self: flex-start;
    margin-top: 10px;
    width: 35px;
    height: 35px;
}

.btn-toggle:focus {
    outline: none;
}