.pc-classic {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    background: #1a1a18;
    color: #FFFFFF;
    text-align: center;
    visibility: hidden;
    font-size: 22px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'HelveticaBold', sans-serif;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    border-bottom-right-radius: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid #86827a;
    border-right: 2px solid #86827a;
}

.pc-classic-lines {
    font-size: 16px;
}

.pc-classic .single-line {
    font-size: 22px;
}

.pc-modern {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #f1eef8, #ded9db, #f1eef8, #f1eef8);
    color: #010101;
    text-align: left;
    visibility: visible;
    line-height: 45px;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Arial', sans-serif;
}

.top-bar.pc-modern {
    display: flex;
    align-items: center;
}

.pc-modern .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 3px;
}

.pc-modern #logo {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    background-image: url(../img/logos/steam-7.png);
    background-size: contain;
}

.pc-modern::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #7eb5d5, #244869, #7eb5d5);
}

.pc-modern-linef {
    display: block;
    color: #4a88c6;
    line-height: 15px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.pc-modern-lines {
    display: block;
    margin-top: -10px;
    font-size: 19px;
}

.pc-modern-linef.single-line {
    line-height: 35px;
    font-size: 22px;
    margin-top: 0px;
}

.pc-modern-lines.single-line {
    margin-top: -3px;
    font-size: 20px;
}

.gba-classic {
    position: absolute;
    bottom: -25%;
    left: 0px;
    width: 180%;
    height: 70px;
    background: linear-gradient(to right, #7d8790, #f8f7f9);
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    font-size: 24px;
    letter-spacing: -4px;
    font-family: 'GameCube', sans-serif;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    transform: rotate(-90deg);
    transform-origin: top left;
}

.gba-modern-linef,
.gba-modern-lines,
.gba-classic-linef, 
.gba-classic-lines {
    text-align: center;
}

.gba-modern-linef
.gba-classic-linef {
    font-size: 24px;
}

.gba-modern-lines,
.gba-classic-lines {
    font-size: 18px;
    color: #050505;
    padding-left: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.gba-modern .single-line,
.gba-classic .single-line {
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.gba-modern {
    position: absolute;
    top: 0;
    width: 150%;
    height: 70px;
    background: linear-gradient(to right, #7d8790, #f8f7f9);
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    visibility: hidden;
    font-size: 22px;
    line-height: 60px;
    letter-spacing: -4px;
    font-family: 'GameCube', sans-serif;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.ps1-classic {
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 450px;
    height: 35px;
    line-height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    word-spacing: -10px;
    visibility: visible;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    font-family: 'EmotionEngine', sans-serif;
    transform: rotate(-90deg);
    transform-origin: top left;
}

.ps1-modern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    word-spacing: -10px;
    visibility: hidden;
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    font-family: 'EmotionEngine', sans-serif;
}

.ps2-classic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: left;
    font-size: 26px;
    letter-spacing: 2px;
    word-spacing: -10px;
    visibility: hidden;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    font-family: 'EmotionEngine', sans-serif;
    border-bottom: 2px solid white;
}

.ps3-classic {
    position: absolute;
    bottom: -37px;
    left: 0;
    width: 450px;
    height: 35px;
    line-height: 42px;
    background: linear-gradient(to right, #000000, #657989, #000000, #657989, #000000, #657989);
    color: #c0c5cc;
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    visibility: visible;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    font-family: 'Homoarak', sans-serif;
    transform: rotate(-90deg);
    transform-origin: top left;
    border-bottom: 1px solid #535459;
}

.ps3-modern {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 35px;
    line-height: 42px;
    background: linear-gradient(to right, #000000, #000000, #657989);
    color: #c0c5cc;
    text-align: left;
    font-size: 22px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    visibility: visible;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 2px;
    font-family: 'PhatBoySlim', sans-serif;
    border-bottom: 1px solid #991f34;
}